# Created by .ignore support plugin (hsz.mobi)
### Example user template template
### Example user template

# IntelliJ project files
.idea
*.iml
/personal-parent.iml
/.idea
/personal-core/personal-core.iml
/personal-server/personal-server.iml

personal-core/target/
personal-server/target/
